/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$color-sidebar: #191919;
$color-light: #FFFFFF;
$color-head: #A6A6A6;
$color-background-main: #F5F5F2;
$color-link: #56819F;
$color-link-hover: #ff0000;
$color-link-orange: #FFA200;
$color-table-hover: #F1F3F3;
$color-table-head: #E3E3E3;
$color-input-hover: #979797;
$color-input: #E3E3E3;
$color-sidebar-list-orange: #F58220;
$color-sidebar-hover: #282828;
$color-dot-green: green;
$color-dot-orange: #F58220;

/* Font sizes */
$paragraph-font-size: 16px;
$paragraph-font-weight: normal;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$logo-font: 'Pacifico', cursive;