.btn {
  display: flex;
  font-size: 15px;
  min-width: 10px;
  justify-content: center;
  align-items: center;
  background-color: #f58220;
  border-radius: 5px;
  color: $color-light;
  height: 41px;

  &:hover,
  &-grey:hover,
  &-orange:hover,
  &-refresh:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor: pointer;
  }

  &-grey {
    background-color: #979797;
    padding: 0 20px;
  }

  &-orange {
    background-color: #f58220;
    padding: 0 20px;
  }

  &-disabled {
    background-color: #e3e3e3;
  }

  &-refresh {
    width: 41px;
    line-height: 1;
    margin-left: 15px;
  }
}

button[type="submit"] {
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

button[type="button"] {
  border: none;
}

.dot {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 12px;
  height: 12px;
  border-radius: 50% 50%;

  &-green {
    background-color: $color-dot-green;
  }

  &-orange {
    background-color: $color-dot-orange;
    width: 9px;
    height: 9px;
  }
}
