* {
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  justify-content: center;
  align-items: center;

  overflow: auto;
  padding: 30px;

  display: none;
}

.overlay::-webkit-scrollbar {
  display: none;
}

.modal {
  max-width: 600px;
  margin: auto;
  background-color: $color-light;
  position: relative;
  padding: 30px;
  display: none;
}

.overlay.show {
  display: flex;
}

.modal.show {
  display: block;
}

.modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background-color: red;
  cursor: pointer;
}

.modal h4 {
  color: $color-head;
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 30px;
  padding-right: 30px;
}
